
@{
    ViewBag.Title = "Inicio";
}
<body>

    <section class="full">
        <div class="full-inner">
            <div class="content">
                <h1>365 Beauty Salon</h1>
                <p>Reserva tu cita con nosotros</p>
            </div>
        </div>

    </section>
    <a href="/Home/AgendarCita" class="btn-flotante">Agendar Cita</a>
</body>